link(rel='stylesheet', href='/lib/JqueryEasyUI/themes/default/easyui.css')
link(rel='stylesheet', href='/lib/JqueryEasyUI/themes/icon.css')
link(rel='stylesheet', href='/css/base.css')
script(type='text/javascript', src='/lib/JqueryEasyUI/jquery.min.js')
script(type='text/javascript', src='/lib/JqueryEasyUI/jquery.easyui.min.js')
script(type='text/javascript', src='/lib/JqueryEasyUI/locale/easyui-lang-zh_CN.js')