doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        title= title
        link(rel='stylesheet', href='/css/layout.css')
        include header
        script(type='text/javascript', src='/js/layout.js')
    body.easyui-layout
        div.north(data-options="region:'north',border:true,split:true,title:'#{title}'")
            h1(style="margin-left:0.5em;position: absolute;") #{title}
            div.user_info 【张三】,欢迎您。当前登陆状态：福建省厦门市.电信(222.76.241.26)。
            div.system_controller: a.easyui-menubutton(href="javascript:void(0)",data-options="menu:'#bt_index_zxMenu',iconCls:'icon-controller'") 控制面板
            div#bt_index_zxMenu(style="display: none;")
                div(data-options="iconCls:'icon-user'") 个人信息
                div(data-options="iconCls:'icon-setting'") 个人设置
                div(data-options="iconCls:'icon-theme'")
                    span 主题切换
                    div(style="width:100px;")
                        div.theme(name="default") default
                        div.theme(name="bootstrap") bootstrap
                        div.theme(name="black") black
                        div.theme(name="gray") gray
                        div.theme(name="metro") metro
        div(data-options="region:'center',border:true,split:true")
            div#tabs.easyui-tabs(data-options="border:false,fit:true")
                div(title="首页")
                    iframe(scrolling="yes",frameborder="0",src="/power/users",style="width: 100%; height: 100%;")
        div.west(data-options="region:'west',boder:true,split:true,title:'导航菜单'",style="padding:0")
            div#aa.easyui-accordion(data-options="fit:true,border:false")
                div(title="后台权限管理")
                    ul
                        li.iconnav: a(href="javascript:AddTab('用户管理','/Power/Users')") 用户管理
                        li.iconnav: a(href="javascript:AddTab('角色管理','/Power/Users')") 角色管理
                        li.iconnav: a(href="javascript:AddTab('权限管理','/Power/Users')") 权限管理
                        li.iconnav: a(href="javascript:AddTab('权限组管理','/Power/Users')") 权限组管理
                div(title="标签管理")
                    ul
                        li.iconnav: a(href="javascript:AddTab('标签管理','/Power/Users')") 标签管理
                div(title="系统日志")
                    ul
                        li.iconnav: a(href="javascript:AddTab('操作日志','/Power/Users')") 操作日志
        div(data-options="region:'south',border:true,split:true",style="overflow: hidden; height: 40px;")
            div.footer 版权所有：
                a(href="http://www.fanhuan.com",target="_blank") 返还网
        div#tabsMenu.easyui-menu(style="width:120px;")
            div(name="close") 关闭
            div(name="other") 关闭其他
            div(name="all") 关闭所有
