.west
{
    width: 200px;
    padding: 10px;
}

.north
{
    height: 100px;
}
.footer
{
    width: 100%;
    text-align: center;
}

.iconnav
{
    font-size: 13px;
    padding-top: 5px;
    line-height: 25px;
    text-indent: 24px;
}

.iconnav a
{
    display: block;
    color: #333;
    line-height: 25px;
}

.easyui-accordion ul
{
    list-style-type: none;
    margin: 0px;
    padding: 10px;
}
.easyui-accordion ul li
{
    padding: 0px;
}
.easyui-accordion ul li a
{
    line-height: 24px;
}
.easyui-accordion ul li div
{
    margin: 2px 0px;
    padding-left: 10px;
    padding-top: 2px;
}
.easyui-accordion ul li div.hover
{
    border: 1px dashed #ffffff; /*background: #E0ECFF;*/
    cursor: pointer;
}
.easyui-accordion ul li div.hover a
{
    color: #416AA3;
}
.easyui-accordion ul li div.selected
{
    border: 1px solid #99BBE8;
    background: #E0ECFF;
    cursor: default;
}
.easyui-accordion ul li div.selected a
{
    color: #416AA3;
    font-weight: bold;
}
